/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

// #include "../zmk-nodefree-config/helper.h"
// #include "../zmk-nodefree-config/keypos_def/keypos_36keys.h"
// #include "../zmk-nodefree-config/international_chars/german.dtsi"

#define ___ &trans
#define HYP LS(LC(LA(LGUI)))
#define fun 1
#define sym 2
#define num 3
#define nav 4

&mt {
    tapping-term-ms = <220>;
    flavor = "tap-preferred";
};

/* German umlauts for Windows-Alt-Codes */
ZMK_UNICODE_PAIR(   de_ae,      KP_N0, KP_N2, KP_N2, KP_N8,    KP_N0, KP_N1, KP_N9, KP_N6)
ZMK_UNICODE_PAIR(   de_oe,      KP_N0, KP_N2, KP_N4, KP_N6,    KP_N0, KP_N2, KP_N1, KP_N4)
ZMK_UNICODE_PAIR(   de_ue,      KP_N0, KP_N2, KP_N5, KP_N2,    KP_N0, KP_N2, KP_N2, KP_N0)
ZMK_UNICODE_SINGLE( de_eszett,  KP_N0, KP_N2, KP_N2, KP_N3)

/ {
    combos {
        compatible = "zmk,combos";
        combo_oe {
            timeout-ms = <50>;
            key-positions = <21 10>;
            bindings = <&kp &de_oe>;
        };
        combo_ae {
            timeout-ms = <50>;
            key-positions = <21 14>;
            bindings = <&kp &de_ae>;
        };
        combo_ue {
            timeout-ms = <50>;
            key-positions = <21 8>;
            bindings = <&kp &de_ue>;
        };
    };

    macros {
        zed_em_kay: zed_em_kay {
            label = "ZM_zed_em_kay";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp Z &kp M &kp K>
                , <&macro_release &kp LSHFT>
                ;
        };

        ae: ae {
            label = "ae";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_press &kp LALT>
                , <&macro_tap &kp U>
                , <&macro_release &kp LALT>
                , <&macro_tap &kp A>
                ;
        };
    };

        behaviors {
                a_uml: grave_escape {
                compatible = "zmk,behavior-mod-morph";
                label = "GRAVE_ESCAPE";
                #binding-cells = <0>;
                bindings = <&kp A>, <&zed_em_kay>;
                mods = <(MOD_LALT|MOD_RALT)>;
                };
        };

        keymap {
                compatible = "zmk,keymap";

// ZMK_COMBO(esc,  &kp ESC, 0 1, ALL, 25);

                default_layer {
                        label = "Base";
// -----------------------------------------------------------------------------------------
// | ESC |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
// |     |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
// |     |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  |      |
//                   |     | LWR | SPC |   | ENT | RSE  |     |
                        bindings = <
   &none      &kp Q         &kp W       &kp E       &kp R       &kp T    &kp Y  &kp U       &kp I       &kp O       &kp P             &none
   &a_uml     &mt LSHIFT A  &mt LCTRL S &mt LALT D  &mt LGUI F  &kp G    &kp H  &mt RGUI J  &mt RALT K  &mt RCTRL L  &mt RSHIFT SEMI  &kp SQT
   &ae      &kp Z         &kp X       &kp C       &kp V       &kp B    &kp N  &kp M       &kp COMMA   &kp DOT      &kp FSLH         &none
                  &lt nav ESC  &lt fun TAB  &kp SPACE   &mt HYP RET  &kp BSPC  &mo sym
                        >;
                };

                lower_layer {
                        label = "Fun";
// -----------------------------------------------------------------------------------------
// |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT | F11 | F12  |
// | SHFT | F1  | F2  | F3  | F4  | F5  |   | F6  | F7  | F8  | F9  | F10 | ESC  |
//                    |     |     | SPC |   | ENT |     |     |
                        bindings = <
   &kp TAB    &kp N1       &kp N2       &kp N3       &kp N4       &kp N5         &kp N6   &kp N7   &kp N8 &kp N9    &kp N0  &none
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp F11 &kp F12
   &kp LSHFT  &kp F1       &kp F2       &kp F3       &kp F4       &kp F5         &kp F6   &kp F7   &kp F8 &kp F9    &kp F10 &none
                                    ___     ___       &to 0      &kp RET  &trans   &to nav
                        >;
                };

                raise_layer {
                        label = "Sym";
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
// | CTRL | Br+ |Vol+ |Prev |Play |Next |   |  -  |  =  |  [  |  ]  |  \  |  ~   |
// | SHFT | Br- |Vol- |Mute |     |     |   |  _  |  +  |  {  |  }  | "|" |  `   |
//                    |     |     | SPC |   | ENT |     |     |
                        bindings = <
   &kp  TAB  &kp EXCL      &kp AT       &kp HASH    &kp DLLR  &kp PRCNT   &kp CARET &kp AMPS  &kp KP_MULTIPLY &kp LPAR &kp RPAR &kp BSPC
   &kp LCTRL &kp C_BRI_UP  &kp K_VOL_UP &kp C_PREV  &kp C_PP  &kp C_NEXT  &kp MINUS &kp EQUAL &kp LBKT        &kp RBKT &kp BSLH &kp TILDE
   &kp LSHFT &kp C_BRI_DN  &kp K_VOL_DN &kp K_MUTE  &trans    &trans      &kp UNDER &kp PLUS  &kp LBRC        &kp RBRC &kp PIPE &kp GRAVE
                                          &trans      &trans    &to 0   &kp RET   &trans    &to num
                        >;
                };

                num_layer {
                        label = "Num";
// -----------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |     |
// |      |     |     |     |     |     |   |     |     |     |     |     |     |
// |      |     |     |     |     |     |   |     |     |     |     |     |     |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &trans     &trans       &trans       &trans       &trans       &trans         &trans  &kp N7  &kp N8  &kp N9  &trans  &trans
   &trans     &trans       &trans       &trans       &trans       &trans         &trans  &kp N4  &kp N5  &kp N6  &trans  &trans
   &trans     &trans       &trans       &trans       &trans       &trans         &trans  &kp N1  &kp N2  &kp N3  &trans  &trans
                                          &trans       &trans       &to 0      &trans   &trans  &kp N0
                        >;
                };

                nav_layer {
                        label = "Nav";
// -----------------------------------------------------------------------------------------
// | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |     |     |     |     |     |
// |      |     |     |     |     |     |   |     |     |     |     |     |     |
// |      |     |     |     |     |     |   |     |     |     |     |     |     |
//                    |     |     |     |   |     |     |     |
                        bindings = <
   &bt BT_CLR   &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4   &trans     &trans     &trans    &trans     &trans    &trans
   &out OUT_TOG &trans       &trans       &trans       &trans       &trans         &kp LEFT   &kp DOWN   &kp UP    &kp RIGHT  &trans    &trans
   &trans       &trans       &trans       &trans       &trans       &trans         &trans     &trans     &trans    &trans     &trans    &trans
                                          &sys_reset       &trans       &to 0     &trans     &trans     &sys_reset
                        >;
                };
        };
};
